@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    /* Remove outline & shadow */
    outline: none;
    outline-offset: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    color: $color;
    background-color: $background;
    border-color: $border;
    //background-color: darken($background, 10%);
    //border-color: darken($border, 25%);
  }
  &:hover {
    /* Remove Shadow */
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    color: $color;
    background-color: $background;
    border-color: $border;
    //background-color: darken($background, 10%);
    //border-color: darken($border, 25%);
  }
  &:active,
  &.active {
    color: $color;
    background-color: $background;
    border-color: $border;
    //background-color: darken($background, 10%);
    //border-color: darken($border, 25%);

    &:hover,
    &:focus,
    &.focus {
      /* Remove outline & shadow */
      outline: 0;
      background-image: none;
      -webkit-box-shadow: none;
      box-shadow: none;

      color: $color;
      background-color: $background;
      border-color: $border;
      //background-color: darken($background, 10%);
      //border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    opacity: .65;

    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

}
