@import "_base";
@import "mixins/_button";
@import "mixins/_nav";

.ui-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $default-nav-z-index;
  height: $nav-default-height !important;
  background-color: $nav-default-bg;
  box-shadow: 0 0 1px #999;
  .ui-nav-title, .title {
    width: 100%;
    height: $nav-default-height;
    text-align: center;
    font-size: $nav-default-title-font-size;
    line-height: $nav-default-height;
    color: $nav-default-color;
  }

  .ui-btn {
    position: absolute;
    top: 0;
    color: $nav-default-color;
    background: $nav-default-color;
    border: none;
    width: 58px;
    height: $nav-default-height;
    line-height: $nav-default-height;
    font-size: 16px;
    font-weight: 300;
    padding: 0 15px;
    border-radius: 0px;

    @include button-variant($nav-default-color, $nav-default-bg, $nav-default-bg);

    &:nth-of-type(1) {
      left: 0;
      text-align: left;
    }

    &:nth-of-type(2) {
      right: 0;
      text-align: right;
    }
  }

  /* Nav Variant */
  &.ui-nav-stable {
    @include nav-variant($dark, $stable);
  }

  &.ui-nav-dark {
    @include nav-variant($light, $dark);
  }

  &.ui-nav-light {
    @include nav-variant($dark, $light);
  }

  &.ui-nav-positive {
    @include nav-variant($light, $positive);
  }

  &.ui-nav-assertive {
    @include nav-variant($light, $assertive);
  }

  &.ui-nav-balanced {
    @include nav-variant($light, $balanced);
  }

}
