@import "_variable";

/*
  Padding
*/
.no-padding {
  padding: 0!important;
}

.padding {
  padding: 15px;
}

/*
  Color
*/
.assertive {
  color: $assertive;
}

.positive {
  color: $positive;
}

.balanced {
  color: $balanced;
}

.grey {
  color: #ddd;
}

/*
  Background Color
*/

.assertive-bg {
  background-color: $assertive;
}

.positive-bg {
  background-color: $positive;
}

.balanced-bg {
  background-color: $balanced;
}

.grey-bg {
  background-color: #eee;
}

/*
  Text Align
*/

.text-center {
  text-align: center;
}

/*
  Divider
 */

.ui-divider {
  width: 100%;
  height: 10px;
}