@import "_variable";

/*
  Container
*/

.ui-container {
  box-sizing: border-box;
  max-width: 980px;
  padding: 0 $page-default-padding;
}

.ui-container:before,
.ui-container:after {
  content: "";
  display: table;
}

.ui-container:after { clear: both; }

.ui-container-center {
  margin-left: auto;
  margin-right: auto;
}

/*
  Padding
*/
.no-padding {
  padding: 0!important;
}

.padding {
  padding: 15px !important;
}

/*
  Color
*/
.assertive {
  color: $assertive;
}

.positive {
  color: $positive;
}

.balanced {
  color: $balanced;
}

.grey {
  color: $grey;
}

.dark-grey {
  color: #aaa;
}

.dark {
  color: $dark;
}

.light {
  color: $light;
}

/*
  Background Color
*/

.assertive-bg {
  background-color: $assertive;
}

.positive-bg {
  background-color: $positive;
}

.balanced-bg {
  background-color: $balanced;
}

.grey-bg {
  background-color: $grey;
}

.light-bg {
  background-color: $light;
}

.dark-bg {
  background-color: $dark;
}

/*
  Text Align
*/

.text-center {
  text-align: center;
}

/*
  Divider
 */

.ui-divider {
  width: 100%;
  height: 10px;
}

/*
  Margin
*/

.margin-top {
  margin-top: 10px !important;
}

.margin-bottom {
  margin-bottom: 10px !important;
}

/* Align */
.pull-right {
  float: right;
}